* { box-sizing: border-box;}
body, h1, h2, h3, h4, h5, h6, p {margin: 0;}
body {font-family: 'Poppins', arial, sans-serif;}

body {
    text-align: left;
}

body {
    /*T'as vu c'est magnifique ;)*/
    background-color: pink;
}
button {
    color:  blue;
}
.selected {
    color: red;
}